@use "./base.scss";

// put your custom CSS here!
h1 {
    color: var(--dark)
}

h2 {
    color: #b48ead;
}

h3 {
    color:#88c0d0;
}

h4 {
    color: #a3be8c;
}
h5 {
    color: #ebcb8b;
}
h6 {
    color: #d08770;
}