@use "./base.scss";

// put your custom CSS here!
hr {
    margin: 0.75rem auto;
}

.page-title a {
    font-weight: 900;
    font-optical-sizing: auto;
    font-size: 2.3rem;
    line-height: 2rem;
}

.article-title {
    font-size: 1.4rem;
    font-weight: 900;
}

.page article>h1 {
    font-size: 1.5rem;
}

.page-title {
    max-width: 125px;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
}

h3,
h4,
h5,
h6 {
    font-size: 1rem;
    margin-bottom: 0;
}

p li {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: .875rem;
}

.search p {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.transclude h1 {
    font-size: 1.3rem;
    margin-top: 1.5rem;
}

table,
.table-container>table>* {
    font-size: 0.875rem;
    line-height: 1.5rem;
    min-width: 0;
}

table th,
.table-container>table th {
    text-align: left;
    background-color: var(--secondary);
    color: var(--light);
    border-bottom: 0px;
    padding: .75rem;
    margin-left: 0;
    margin-right: 0;
    min-width: 0;
}

table td,
.table-container>table td {
    border-bottom: 1px solid var(--gray);
    min-width: 0;
    padding: .75rem;
}

a.internal.transclude-src {
    background-color: var(--light);
    color: var(--secondary);
    padding: .75rem 2rem;
    border-radius: 0;
}

a.internal.transclude-src:hover {
    color: var(--secondary);
}

blockquote.transclude ul {
    margin-bottom: 2rem;
    /* Adjust the value as needed */
}

.transclude {
    border-left: 0 solid;
    padding: 2rem;
    padding-top: .5rem;
    background-color: var(--tertiary);
}

blockquote.transclude p,
blockquote.transclude h1,
blockquote.transclude h2,
blockquote.transclude h3,
blockquote.transclude h4,
blockquote.transclude h5,
blockquote.transclude h6,
blockquote.transclude li,
blockquote.transclude a {
    color: var(--light);
    background-color: rgba(0, 0, 0, 0);
}

a:hover {
    color: var(--gray);
}

blockquote.transclude a:hover {
    color: var(--gray);
}

h1>a {
    font-weight: bold;
}

.transclude>figure>pre>code {
    color: var(--light);
}

.notities.callout p,
.notities.callout h1,
.notities.callout h2,
.notities.callout h3,
.notities.callout h4,
.notities.callout h5,
.notities.callout h6,
.notities.callout li,
.notities.callout a {
    color: var(--light);
    background-color: rgba(0, 0, 0, 0);
}

.notities.callout {
    background-color: var(--tertiary);
}

.notities.callout li a {
    line-height: 2.5rem;
    background-color: var(--light);
    color: var(--secondary);
    padding: .5rem 1rem;
    border-radius: 0;
}

.notities.callout li a:hover {
    background-color: var(--lightgray);
}

.notities.callout>.callout-content>p {
    margin-top: 0.25rem;
}

.notities.callout ul {
    margin-top: 0.5rem;
}